name: Haskell-CI

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'
  schedule:
    - cron: 0 0 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    name: Haskell-CI - Linux - ${{ matrix.ghc-version }}

    strategy:
      matrix:
        ghc-version: [latest,
                      9.12.2,
                      9.10.2, 9.10.1,
                      9.8.4, 9.8.2, 9.8.1,
                      9.6.6, 9.6.5, 9.6.4, 9.6.3, 9.6.2, 9.6.1,
                      9.4.8, 9.4.7, 9.4.6, 9.4.5, 9.4.4, 9.4.3, 9.4.2, 9.4.1,
                      9.2.8, 9.2.7, 9.2.6, 9.2.5, 9.2.4, 9.2.3, 9.2.2, 9.2.1,
                      9.0.2, 9.0.1,
                      8.10.7, 8.10.6, 8.10.5, 8.10.4, 8.10.3, 8.10.2, 8.10.1,
                      8.8.4, 8.8.3, 8.8.2, 8.8.1,
                      8.6.5, 8.6.4, 8.6.3, 8.6.2, 8.6.1,
                      8.4.4, 8.4.3, 8.4.2, 8.4.1,
                      8.2.2,
                      8.0.2]
        os: [ubuntu-24.04]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{matrix.ghc-version}}
      - uses: actions/cache/restore@v4
        with:
          key: ${{ matrix.os }}-${{ matrix.ghc-version }}-${{ github.sha }}
          path: ~/.cabal/store
          restore-keys: ${{ matrix.os }}-${{ matrix.ghc-version }}-
      - run: cabal build all
      - run: cabal test all
      - run: cabal haddock all
      - uses: actions/cache/save@v4
        with:
          key: ${{ matrix.os }}-${{ matrix.ghc-version }}-${{ github.sha }}
          path: ~/.cabal/store
