name: Hugs-CI
on:
  push:
jobs:
  linux:
    name: Hugs-CI - Linux
    runs-on: ubuntu-20.04
    steps:
      - name: apt
        run: |
          sudo apt-get update
          sudo apt-get install -y hugs libhugs-time-bundled cpphs
      - name: checkout
        uses: actions/checkout@v4
      - name: build and test
        run: ./test-hugs
